// Colors


$primary: #05386b;
$secondary: #379683;

// fonts
@mixin heading-large {
  width: 284px;
  height: 79px;
  left: 44px;
  top: 210px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 85%;
}

@mixin small-heading {
  background: #5f5f5f;
}

/* Button/Primary */

@mixin buttonprimary {
  display: flex;
  flex-direction: column;
  padding: 22px 32px;
  position: absolute;
  height: 65px;
  left: 57px;
  right: 57px;
  bottom: 367px;
  background: #5cdb95;
  border-radius: 20px;
}

@mixin secondarybutton {
  position: absolute;
  width: 144.39px;
  height: 65px;
  left: 58px;
  top: 700px;

  background: #edf5e1;
  border-radius: 20px;
}

@mixin fit-image {
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

